# =========================
# 🚨 Heavy files (CRITICAL)
# =========================
*.mp4
*.mp3
*.zip
uploads/

# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
.env*.local

# =========================
# Expo / React Native
# =========================
.expo/
dist/
web-build/
expo-env.d.ts

# =========================
# Native folders (if not needed)
# =========================
/ios
/android

# =========================
# Native security files
# =========================
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Logs & debug
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.metro-health-check*

# =========================
# macOS
# =========================
.DS_Store
*.pem

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Misc
# =========================
*.orig.*
app-example

# Build artifacts
build-*.aab
*.apk
*.jks
.eas/
