# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Expo
# =========================
.expo/
dist/
web-build/
expo-env.d.ts

# =========================
# Native security files
# =========================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Metro / Debug
# =========================
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# =========================
# macOS
# =========================
.DS_Store
*.pem

# =========================
# Local env files
# =========================
.env
.env*.local

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Exemple
# =========================
app-example

# =========================
# Native folders
# =========================
/ios

# =========================
# 🚨 IMPORTANT (heavy files)
# =========================
*.mp4
*.mp3
uploads
